@model TestingSystem.Web.Areas.Administration.ViewModels.TestViewModel

@{
    ViewBag.Title = "Детайли за тест";
}

<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CourseName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                </dl>
            </div>
            <p>
                @Html.ActionLink("Промяна", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Обратно към всички отговори", "Index")
            </p>
        </div>
    </div>
</div>