@model IEnumerable<TestingSystem.Web.Areas.Administration.ViewModels.TestViewModel>

@{
    ViewBag.Title = "Тестове";
}


<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <p>
                @Html.ActionLink("Създаване на нов тест", "Create")
            </p>
            <table class="table">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th class="text-center">Действия</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.ID })">
                                <img class="action-icon" src="~/Images/info.png" />
                            </a>
                            <a href="@Url.Action("Edit", new { id = item.ID })">
                                <img class="action-icon" src="~/Images/edit.png" />
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.ID })">
                                <img class="action-icon" src="~/Images/delete.png" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>