@model TestingSystem.Web.Areas.Administration.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Детайли за студент";
}

<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SpecialtyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpecialtyName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Semester)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Semester)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FacultyNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FacultyNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EGN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EGN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Промяна", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Обратно към всички студенти", "Index")
            </p>
        </div>
    </div>
</div>