@model IEnumerable<TestingSystem.Web.Areas.Administration.ViewModels.StudentViewModel>

@{
    ViewBag.Title = "Студенти";
}

<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <p>
                @Html.ActionLink("Създаване на нов отговор", "Create")
            </p>
            <table class="table">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.SpecialtyName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Semester)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.FacultyNumber)
                    </th>
                    <th class="text-center">Действия</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpecialtyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Semester)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FacultyNumber)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.Id })">
                                <img class="action-icon" src="~/Images/info.png" />
                            </a>
                            <a href="@Url.Action("Edit", new { id = item.Id })">
                                <img class="action-icon" src="~/Images/edit.png" />
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.Id })">
                                <img class="action-icon" src="~/Images/delete.png" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>