@model TestingSystem.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Акаунт";
}
<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <hr />
            <p class="text-success">@ViewBag.StatusMessage</p>
            <span>Парола:</span>
            <strong>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Промяна на парола", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Създаване на парола", "SetPassword")
                }
                ]
            </strong>
            <hr />
            <div class="panel-heading">
                <h1 class="bhoechie-header">Резултати</h1>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Курс</th>
                        <th class="text-center">Тест</th>
                        <th class="text-center">Точки</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.CourseName</td>
                            <td>@result.TestName</td>
                            <td>@string.Format("{0:0.00} от 20.00", result.Points)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>