@model TestingSystem.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="vertical-offset-15">
    <div class="panel panel-info text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-header">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <hr />
            <p class="text-success">@ViewBag.StatusMessage</p>
            <span>Password:</span>
            <strong>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </strong>
            <hr />
            <div class="panel-heading">
                <h1 class="bhoechie-header">Results</h1>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Course Name</th>
                        <th class="text-center">Test Name</th>
                        <th class="text-center">Points</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.CourseName</td>
                            <td>@result.TestName</td>
                            <td>@string.Format("{0:0.00} / 20.00", result.Points)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>