@model TestingSystem.Web.Areas.Administration.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Изтриване на курс";
}

<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <h3>Наистина ли искате да изтриете този курс?</h3>
            <div>
                <h4>Course</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SpecialtyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpecialtyName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Semester)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Semester)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <br />
                    <div class="form-actions no-color">
                        <input type="submit" value="Изтриване" class="btn btn-danger" />
                    </div>
                }
                <br />
                @Html.ActionLink("Обратно към всички курсове", "Index")
                <br />
            </div>
        </div>
    </div>
</div>
