@model IEnumerable<TestingSystem.Web.Areas.Administration.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Въпроси";
}

<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <p>
                @Html.ActionLink("Създаване на нов въпрос", "Create")
            </p>
            <table class="table">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.TestName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Text)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CorrectAnswersCount)
                    </th>
                    <th class="text-center">Действия</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CorrectAnswersCount)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.ID })">
                                <img class="action-icon" src="~/Images/info.png" />
                            </a>
                            <a href="@Url.Action("Edit", new { id = item.ID })">
                                <img class="action-icon" src="~/Images/edit.png" />
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.ID })">
                                <img class="action-icon" src="~/Images/delete.png" />
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>