@model IEnumerable<TestingSystem.Web.Areas.Administration.ViewModels.ResultViewModel>

@{
    ViewBag.Title = "Резултати";
}

<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.StudentFullName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.TestName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Points)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>