@model  ICollection<TestingSystem.Web.Models.QuestionViewModel>
@{
    ViewBag.Title = "Questions";
}

<div class="container">

    <div class="timer-fixed label label-success">
        <span id="countdown" class="timer"></span>
    </div>
    <div class="center-x">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
                    <div class="list-group">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <a href="#" class="list-group-item text-center">
                                № @(i + 1)
                            </a>
                        }
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon glyphicon-upload"></h4><br />Finish
                        </a>
                    </div>
                </div>
                <div id="answers" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
                    <!-- questions section -->
                    @foreach (var question in Model)
                    {
                        <div class="bhoechie-tab-content">
                            <h2 class="bhoechie-header">@question.Text</h2>
                            <hr />
                            @foreach (var answer in question.Answers)
                            {
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                                        @if (question.CorrectAnswersCount == 1)
                                        {
                                            <input type="radio" id="answer-@answer.ID" name="ID-@question.ID" value="@answer.ID" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="answer-@answer.ID" name="ID-@question.ID" value="@answer.ID" />
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        <label for="answer-@answer.ID">@answer.Text</label>
                                    </div>
                                </div>
                            }
                            <br />
                        </div>
                    }
                    <!-- finish section -->
                    <div class="bhoechie-tab-content text-center">
                        <h1 class="glyphicon glyphicon-upload bhoechie-header bhoechie-icon"></h1>
                        <br />
                        <h2>Are you sure you want to complete the test?</h2>
                        <br />
                        <button class="btn btn-lg btn-danger" onclick="getAnswers()">Finish</button>
                        <br />
                    </div>
                    <div class="bhoechie-tab-content active text-center">
                        <h1>To start the test just press on the tabs.</h1>
                        <hr />
                        <h3>When you are done go to <strong class="glyphicon glyphicon-upload"></strong> Finish and submit your answers.</h3>
                        <hr />
                        <h3>Wish you luck!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Result", "Tests", new { id = Url.RequestContext.RouteData.Values["id"] }, FormMethod.Post, new { role = "form" }))
    {
        <input type="text" id="user-answers" name="Answers" value="" class="hidden" />
        <input type="submit" id="finish" value="Finish" class="hidden" />
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });

            $('#answers input').change(function (e) {
                var index = $('#answers>.active').index();
                parseInt($(this).attr('name').replace('ID-', '')) - 1;
                $('div.bhoechie-tab-menu>div.list-group>a').eq(index).addClass('answered');
            });
        });

        var seconds = 60 * 20;
        var interval = 1000;
        var countdownTimer = setInterval('secondPassed()', interval);

        function secondPassed() {
            var minutes = Math.round((seconds - 30) / 60);
            var remainingSeconds = seconds % 60;
            if (remainingSeconds < 10) {
                remainingSeconds = "0" + remainingSeconds;
            }
            document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
            if (seconds == 0) {
                clearInterval(countdownTimer);
                getAnswers();
            } else {
                seconds--;
            }
        }

        function getAnswers() {
            var selected = [];
            $('#answers input:checked').each(function () {
                selected.push($(this).val());
            });

            var answers = selected.join(',');

            $('#user-answers')[0].value = answers;
            $('#finish').click();
        }
    </script>
}
